<div class="mt-10">
  <form method="get" action="/news">
    <div class="form-group">
      <label for="search-input">Tu Khoa</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        name="q"
        placeholder="Tim kiem"
      />

     <div class="form-group">
      <label for="gender-input">Tu Khoa</label>
      <select
        type="text"
        class="form-control"
        id="gender-input"
        name="gender"
      >
      <option value="">-- Chon Gioi Tinh --</option>
      <option value="male">Nam</option>
      <option value="female">Nu</option></select>

    </div>

    <button type="submit" class="btn btn-primary">Tim Kiem</button>
  </form>
</div>